<html xmlns="http://www.w3.org/1999/html">
<head>

  <link href="{{url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
   <script src="{{url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <link href="{{url_for('static', filename='assets/7.css/dist/7.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='new_style.css')}}" rel="stylesheet">
<style>
    @font-face {
  font-family: winfont;
  src: url({{url_for('static', filename='assets/98.css/fonts/src/ms-sans-serif/MS Sans Serif.ttf')}});
}
</style>
<script>
window.addEventListener('load', (event) => {
    var list = document.getElementsByClassName("window");
for (var i = 0; i < list.length; i++) {
    console.log(list[i]);
    list[i].querySelectorAll("button[aria-label='Close']")[0].addEventListener('click', closer);
    list[i].querySelectorAll("button[aria-label='Minimize']")[0].addEventListener('click', minimize);
    list[i].querySelectorAll("button[aria-label='Maximize']")[0].addEventListener('click', maximize);
}

function closer(){
    this.parentNode.parentNode.parentNode.style.visibility = "hidden";
}
function minimize(){
    this.parentNode.parentNode.parentNode.getElementsByClassName("window-body")[0].style.visibility = "hidden";
    this.parentNode.parentNode.parentNode.getElementsByClassName("window-body")[0].style.height = 0;
}
function maximize(){
    this.parentNode.parentNode.parentNode.getElementsByClassName("window-body")[0].style.visibility = null;
    this.parentNode.parentNode.parentNode.getElementsByClassName("window-body")[0].style.height = null;
}
})


</script>
{%block javascript%}
{% endblock %}
</head>
<body>
<!--menu below-->
{%block background%}
{% endblock %}
    <div class="icons-menu-desktop">
    <div class="d-flex flex-column flex-shrink-0 p-3" >
                <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                     <li class="nav-item item-spec">
                        <a href="#" class="nav-link px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                      <img src="{{url_for('static', filename='assets/img/icons/eftt.png')}}">
                        </a>
                        <div class="icon-desc">Help</div>
                    </li>
                    <li class="nav-item item-spec">
                        <a href="about/tokenomics.html" class="nav-link px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                       <img src="{{url_for('static', filename='assets/img/icons/help_book_cool-4.png')}}">
                        </a>
                        <div class="icon-desc">Help</div>
                    </li>
                     <li class="nav-item item-spec">
                        <a href="#" class="nav-link  px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                         <img src="{{url_for('static', filename='assets/img/icons/modem-5.png')}}">
                        </a>
                        <div class="icon-desc">Help</div>
                    </li>
                     <li class="nav-item item-spec">
                        <a href="#" class="nav-link  px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                           <img src="{{url_for('static', filename='assets/img/icons/internet_connection_wiz-4.png')}}">
                        </a>
                        <div class="icon-desc">Help</div>
                    </li>
                     <li class="nav-item item-spec">
                        <a href="#" class="nav-link  px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                         <img src="{{url_for('static', filename='assets/img/icons/write_yellow-1.png')}}">
                        </a>
                        <div class="icon-desc">Help</div>
                    </li>
                     <li class="nav-item item-spec">
                        <a href="{{url_for('metis.index')}}" class="nav-link  px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                           <img src="{{url_for('static', filename='assets/img/icons/Metis-Coin.png')}}">
                        </a>
                        <div class="icon-desc">Metis Information</div>
                    </li>
                     <li class="nav-item item-spec">
                        <a href="#" class="nav-link  px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                           <img src="{{url_for('static', filename='assets/img/icons/chart1-5.png')}}">
                        </a>
                        <div class="icon-desc">Help</div>
                    </li>
                </ul>

            </div>
        </div>






<!--     all menu and navigation below-->
     <nav class="navbar navbar-custom fixed-bottom navbar-expand-lg  " >


    <!-- Navbar brand -->

    <div class="start-menu dropup"  >
<button type="button" class="startmenubutton"  data-bs-toggle="dropdown" aria-expanded="false">
        <img src="{{url_for('static', filename='assets/img/win98start.png')}}">
     <img class="img-top" src="{{url_for('static', filename='assets/img/win98start_hover.png')}}">
        </button>
         <div class="dropdown-menu" >

          <ul role="menu" class="can-hover" style="width: 200px">
   <li role="menuitem" ><a href="#menu">Home</a></li>
   <li role="menuitem" ><a href="#menu">Buy EFT</a></li>
  <li role="menuitem" class="has-divider"><a href="#menu">About</a></li>
  <li role="menuitem" ><a href="#menu">Tokenomics</a></li>
  <li role="menuitem"  class="has-divider">
    <a href="#menu">Roadmap</a>
  </li>
  <li role="menuitem">
    <img src="https://img.icons8.com/color/18/000000/monitor--v1.png"/>
    <a href="#menu">Screen resolution</a>
  </li>
  <li role="menuitem">
    <img src="https://img.icons8.com/color/18/000000/virtual-machine2.png"/>
    <a href="#menu">Gadgets</a>
  </li>
  <li role="menuitem">
    <img src="https://img.icons8.com/color/18/000000/remote-desktop.png"/>
    <a href="#menu">Personalize</a>
  </li>
</ul>
        </div>
</div>
  <div class="start-menu menu-group">
        <img src="{{url_for('static', filename='assets/img/DeskBar_Options_Windows_98.png')}}">
        <a href="#" class="startmenuicons" data-toggle="tooltip" data-placement="top" title="github codebase">
        <img src="{{url_for('static', filename='assets/img/icons/github.png')}}">
        </a>
       <a href="#"  class="startmenuicons" data-toggle="tooltip" data-placement="top" title="email address to contact">
        <img src="{{url_for('static', filename='assets/img/icons/email.png')}}">
        </a>
       <a href="#" class="startmenuicons" data-toggle="tooltip" data-placement="top" title="Instagram page">
        <img class="rounded" src="{{url_for('static', filename='assets/img/icons/insta.png')}}">
        </a>
       <a href="#"  class="startmenuicons" data-toggle="tooltip" data-placement="top" title="Twitter">
        <img src="{{url_for('static', filename='assets/img/icons/twit.png')}}">
        </a>
       <a href="#" class="startmenuicons" data-toggle="tooltip" data-placement="top" title="Telegram page">
        <img src="{{url_for('static', filename='assets/img/icons/teleg.png')}}">
        </a>
  </div>




    <div class="d-flex ms-auto">
        <img src="{{url_for('static', filename='assets/img/win98start.png')}}">
    </div>

</nav>
     {% block content %}{% endblock %}


 </div>
</body>


</html>