



{% extends "main/base.html" %}

{% block roadmap %}

<link href="{{url_for('static', filename='assets/css/rm.css')}}" rel="stylesheet"  type='text/css'>
<section id="roadmap" class="pricing">
<div class="container">
 <div class="section-title" data-aos="fade-down">
          <h2>Roadmap</h2>
        </div>
<div class="timeline">
  <div class="timeline__event  timeline__event--type1" data-aos="fade-up" ">
    <div class="timeline__event__icon ">
      <i class="lni lni-bolt-alt"></i>

    </div>
    <div class="timeline__event__date">
      Q1
    </div>
    <div class="timeline__event__content ">
      <div class="timeline__event__title">
        ICO and Burn
      </div>
      <div class="timeline__event__description">
        <p>The ICO will last for about 5 weeks and hopes to garner attention and engagement from the burn</p>
      </div>
    </div>
  </div>
  <div class="timeline__event  timeline__event--type2" data-aos="fade-up">
    <div class="timeline__event__icon">

    <i class="lni lni-users"></i>
    </div>
    <div class="timeline__event__date">
      Q1
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Introduce Voting and Another Burn
      </div>
      <div class="timeline__event__description">
        <p>Immediatly after the ICO, voting will be enabled to allow the community to vote on hashtags to tweet. The voting will
        be off chain and use signatures from the address that contains EFTT. Only addresses that hold EFTT will count as voted.</p>
      </div>
    </div>
  </div>
  <div class="timeline__event  timeline__event--type3" data-aos="fade-up">
    <div class="timeline__event__icon">
      <i class="lni lni-signal"></i>

    </div>
    <div class="timeline__event__date">
      Q2
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Transfer tokens on Twitter
      </div>
      <div class="timeline__event__description">
       <p>We will institute transfer algorhytm to allow a party to send EFTT to another twitter user using just hashtags</p>
             </div>

    </div>
  </div>
  <div class="timeline__event  timeline__event--type1" data-aos="fade-up" >
    <div class="timeline__event__icon">
      <i class="lni lni-cloud-sync"></i>

    </div>
    <div class="timeline__event__date">
      Q3
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Staking
      </div>
      <div class="timeline__event__description">
        <p>We look to implement staking that is based off of the same voting mechanics that were used to burn tokens. Instead, this
        period will control the apy by tweeting </p>
      </div>
    </div>
  </div>
  <div class="timeline__event timeline__event--type2" data-aos="fade-up">
    <div class="timeline__event__icon">
     <i class="lni lni-search"></i>

    </div>
    <div class="timeline__event__date">
      Q4
    </div>
    <div class="timeline__event__content">
      <div class="timeline__event__title">
        Other social media platforms
      </div>
      <div class="timeline__event__description">
        <p>With the success of EFTT we will seek to establish ourselves on other social media platforms that are powered by user engagement </p>
      </div>
    </div>
  </div>
</div>
</div>
</section>
{% endblock %}