
{% extends "main/main.html" %}

{%block javascript%}
    <script src="{{url_for('static', filename='assets/vendor/ethers/dist/ethers.umd.min.js')}}"
        type="application/javascript"></script>
   <script type="module">




const connectButton = document.getElementById('connector');
const purchaseButton = document.getElementById('purchase');
const connectIcon = document.getElementById('icon-connected');
const accountAddress = document.getElementById('account_address');
const fieldIcon = document.getElementById('field-connected');
const network  = document.getElementById('network');
const MetisChainID = '0x440';
var chainId;
var networkId;
var accounts;



connectButton.addEventListener('click', () => {
  getAccount();
});


async function  switchToMetis(){

        let ethereum = window.ethereum;
        const data = [{
            chainId: MetisChainID,
            chainName: 'Metis Andromeda Mainnet',
            nativeCurrency:
                {
                    name: 'Metis',
                    symbol: 'Metis',
                    decimals: 18
                },
           blockExplorerUrls: ['https://andromeda-explorer.metis.io/'],
            rpcUrls: ['https://andromeda.metis.io/?owner=1088'],
        }]
        /* eslint-disable */
        const tx = await ethereum.request({method: 'wallet_addEthereumChain', params:data}).catch()
        if (tx) {
            console.log(tx)
        }
    }
async function getNetworkAndChainId() {
 if (window.ethereum) {
    try {
      switchToMetis();
      //handleNewChain(chainId);
      let current_chainId = await window.ethereum.request({
        method: 'eth_chainId',
      });
        //network.value = current_chainId;
       networkId = await window.ethereum.request({
        method: 'net_version',
      });
      //handleNewNetwork(networkId);

    //console.log( chainId);
//      handleEIP1559Support(block.baseFeePerGas !== undefined);
    } catch (err) {
      console.error(err);
    }
    }else{
    console.error('err2');
    }
  }
async function getAccount() {
if(window.ethereum){
        try {
        getNetworkAndChainId();
  accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
  const account = accounts[0];
 // console.log(account);
         if(accounts!=null){
           account_address.innerHTML = account;
           fieldIcon.innerHTML = 'Connected'
           connectIcon.src = "{{url_for('static', filename='assets/img/icons/check-0.png')}}";
           purchaseButton.removeAttribute("disabled");
           connectButton.setAttribute("disabled", "");
         }
         } catch (err) {
      console.error(err);
    }
}else{

    fieldIcon.innerHTML = 'Not Connected'
    account_address.innerHTML = '';
    connectIcon.src = "{{url_for('static', filename='assets/img/icons/msg_error-0.png')}}";
    connectButton.removeAttribute("disabled");
    purchaseButton.setAttribute("disabled", "");
                     console.log(window.ethereum);
    if (typeof window.ethereum == 'undefined') {
              console.log('here');
              document.getElementById('dialog-demo').style.visibility='visible';
              document.getElementById('dialog-demo').style.opacity=1;
    }
    }
}
</script>
{%endblock%}

{%block background%}
 <div id="main" class="d-flex landing" style="background-image:url('{{url_for('static', filename='assets/img/bgmain1.png')}}')" >

{% endblock %}

{% block content %}
<div class="container landerA px-4 py-5">
    <div class="row d-flex   ">

        <div class="col-lg-6 pt-5 pt-lg-0 d-flex flex-column ">
            <div class=" window glass active" >
              <div class="title-bar">
                <div class="title-bar-text">Connect To Metis Network</div>
                <div class="title-bar-controls">
                  <button aria-label="Minimize"></button>
                  <button aria-label="Maximize"></button>
                  <button aria-label="Close"></button>
                </div>
              </div>

                 <div class="window-body ">
                    <section class="field-row" >
                     <img style="width: 100%"
        src="{{url_for('static', filename='assets/img/installation.png')}}">

                    </section>

                     <div class="status-bar has-space mt-2">
    <p class="status-bar-field">Connection Status</p>
                         <p  class="status-bar-field"><img id="icon-connected" src="{{url_for('static', filename='assets/img/icons/msg_error-0.png')}}"></p>
    <p id="field-connected" class="status-bar-field">Not connected</p>
  </div>
                     <section class="field-row" style="justify-content: flex-end">
                         <span id="account_address"></span>
      <button id="connector" class="default">Connect</button>
      <button disabled id="purchase">Purchase EFT</button>
    </section>
              </div>
            </div>
        </div>
    </div>
    <div class="row d-flex   ">
        <div class="col-lg-6 offset-md-6 " data-aos="fade-left" data-aos-delay="200">
              <div class=" window glass active" >
                <div class="title-bar">
            <div class="title-bar-text">A window with contents</div>
            <div class="title-bar-controls">
              <button aria-label="Minimize"></button>
              <button aria-label="Maximize"></button>
              <button aria-label="Close"></button>
            </div>
          </div>
          <div class="window-body has-space">
            <p>There's so much room for activities!</p>
          </div>
        </div>


        </div>
    </div>

<script>

    function closerInner(){
    document.getElementById("dialog-demo").style.visibility = "hidden";
}
</script>

<div class=" window active is-bright" id="dialog-demo" role="dialog" aria-labelledby="dialog-title">
  <div class="title-bar">
    <div class="title-bar-text" id="dialog-title">Problem Diagnostics</div>
    <div class="title-bar-controls">
      <button aria-label="Close" ></button>
    </div>
  </div>
  <div class="window-body has-space">
    <h2 class="instruction instruction-primary">Identifying your problem...</h2>
      <h2 class="instruction "> Please install Metamask to continue or click below for contract address</h2>
    <div role="progressbar" class="marquee"></div>
  </div>
  <footer style="text-align: right">
    <button onclick="closerInner()">Cancel</button>
  </footer>
</div>

 <!-- End Hero -->

      </div>
{% endblock %}