

<style>
    .inp {
    border:none;
    border-bottom: 2px solid #941D2D;
    padding: 5px 10px;
    outline: none;

 }

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
 }

</style>



<h6>Account: <span class="showAccount"></span></h6>
<div>
  <h3>Vote for the hashtag to target!</h3>

    <input class="form-control" type="text" placeholder="Message to encrypt" id="encryptMessageInput" >
     <button type="button" class="btn-buy" id="signTypedDataV4Button">Click to encrypt</button>
</div>
<div>
<!--    <p class="info-text alert alert-warning">-->
<!--                  Result: <span id="signTypedDataResult"></span>-->
<!--                </p>-->

</div>

<div class="ballot" style="padding-top:20px">
    <form action="{{ url_for('vote.vote') }}" method="post">
        {{form.hidden_tag()}}
  <fieldset style="background: #f6f8ff; border: 2px solid #4238ca;">
    <legend>Vote Ballot</legend>
      <div class="row mb-3">
      <label for="signTypedDataResult" class="col-sm-2 col-form-label">Signed Message: </label>

      <div class="col-sm-8">
          {{form.SignedMessage(class_="form-control-plaintext inp")}}<br /><br />
     {% for error in form.SignedMessage.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
      </div>
      </div>
   <div class="row mb-3">
      <label for="signAccount" class="col-sm-2 col-form-label">Public Address: </label>
      <div class="col-sm-8">
       {{form.Account(class_="form-control-plaintext inp ")}}<br /><br />
     {% for error in form.Account.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
      </div></div>
      <div class="row mb-3">
    <label for="vote" class="col-sm-2 col-form-label">Voting for: </label>
      <div class="col-sm-8">
          {{form.Vote(class_="form-control-plaintext inp")}}<br /><br />
     {% for error in form.Vote.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
  </div></div>
    {{ form.submit(class_="btn-buy")}}
  </fieldset>

</form>


</div>
<script>

   var onHover = () =>{
        var idClikd = event.srcElement.id;
        var objjy = document.getElementById(idClikd);
        objjy.toggle="tooltip";
         objjy.placement="top";
        var tipMessage = "The content of the tooltip...";
        objjy.title = tipMessage;
        console.log(event.srcElement.id);

   }

const signed = document.getElementById('signAccount');
signed.addEventListener('mouseover',onHover);

</script>

