{% extends "main/base.html" %}


{% block vote %}
  <section id="vote" class="pricing">
      <div class="container">


           <div class="section-title" data-aos="fade-up">
          <h2>Voting</h2>
        </div>

        <div class="row">



          <div class="col-lg-6   mt-4 ">
            <div class="box recommended" >

              {% include "vote/vote_module.html" %}

            </div>
          </div>

        <div class="col-lg-6   mt-4 ">
            <div class="box recommended" >
              <h3>LeaderBoard</h3>
          <table class="table table-striped table-hover">
            <thead>
          <tr>
              <th scope="col">Position</th>
              <th scope="col">HashTag</th>
              <th scope="col">Number of votes</th>

          </tr>
          </thead>
          <tbody>
              <th scope="row">1</th>
      <td>doodd</td>
      <td>2300</td>

        </tbody>
        </table>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->



{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='signed_new.js')}}"></script>
{% endblock %}