
<script>

    function copyField(_id) {
  // Get the text field
  var copyText = document.getElementById(_id);

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

  // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);
  }




</script>
<style>
    .inp {
    border:none;
    border-bottom: 2px solid #941D2D;
    padding: 5px 10px;
    outline: none;

 }

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
 }

</style>



<h6>Account: <span class="showAccount"></span></h6>
<div>
  <h3>Vote for the hashtag to target!</h3>

    <input class="form-control" type="text" placeholder="Message to encrypt" id="encryptMessageInput" >
     <button type="button" class="btn-buy" id="signTypedDataV4Button">Click to encrypt</button>
</div>
<div>
<!--    <p class="info-text alert alert-warning">-->
<!--                  Result: <span id="signTypedDataResult"></span>-->
<!--                </p>-->

</div>

<div class="ballot" style="padding-top:20px">
    <form action="{{ url_for('vote.vote') }}" method="post">
        {{form.hidden_tag()}}
  <fieldset style="background: #f6f8ff; border: 2px solid #4238ca;">
    <legend>Vote Ballot</legend>
      <div class="row mb-3">
      <label for="signTypedDataResult" class="col-sm-2 col-form-label">Signed Message: </label>

      <div class="col-sm-8">
          {{form.SignedMessage(class_="form-control-plaintext inp",readonly=true)}}<br /><br />
     {% for error in form.SignedMessage.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
      </div><div class="col-sm-2"> <button type="button" class="btn btn-outline-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
  <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path>
  <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"></path>
</svg></button></div>
      </div>
   <div class="row mb-3">
      <label for="signAccount" class="col-sm-2 col-form-label">Public Address: </label>
      <div class="col-sm-8">
       {{form.Account(class_="form-control-plaintext inp",readonly=true)}}<br /><br />
     {% for error in form.Account.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
      </div></div>
      <div class="row mb-3">
    <label for="vote" class="col-sm-2 col-form-label">Voting for: </label>
      <div class="col-sm-8">
          {{form.Vote(class_="form-control-plaintext inp",readonly=true)}}<br /><br />
     {% for error in form.Vote.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
  </div></div>
    {{ form.submit(class_="btn-buy")}}
  </fieldset>

</form>


</div>


